<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Play dostarcza aktualizacje sam; usuwamy uprawnienie do instalacji obcych APK,
         bo samodzielny update (pobieranie + ACTION_INSTALL_PACKAGE) łamie politykę Sklepu.
         Flavor standalone zachowuje to uprawnienie (auto-aktualizacja z mini.verbigem.com). -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />
</manifest>
